%tr
  %td.mobile= link_to(forum.name, forum)  + content_tag(:span, forum.description, class: 'forum_description hidden-phone hidden-tablet') + content_tag(:span, display_badge(forum.topics.size, min: 20, max: 50), class: 'badge_right')
