%tr
  %td.mobile
    = display_label(t('lite_bbs.actions.top'), 'label-important') unless topic.stick_at.nil?
    = display_label(t('lite_bbs.actions.seal')) unless topic.can_reply
    %span.topic_title= link_to(topic.title, topic, class: 'name')
    %span.badge_right= display_badge(topic.replies.size)